<style>
img.leaflet-tile {
    filter: grayscale(85%) saturate(150%) hue-rotate(60deg) contrast(90%) brightness(110%);
    -webkit-filter: grayscale(85%) saturate(150%) hue-rotate(60deg) contrast(90%) brightness(110%);
</style>
<script>
    $(document).ready(function() {
    // initialize map, set position and zoom level
    var map = L.map('lab-map').setView([0, 0], 1);
    map.attributionControl.setPrefix("");
    map.scrollWheelZoom.disable();
    // basemap
    var mapLayer = L.tileLayer('https://maps.luftdaten.info/tiles/{z}/{x}/{y}.png', {
        attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
        minZoom: 1,
        maxZoom:15
    });
    // define left-aligned and right-aligned labels and icons
    var labelBaseOptions = {
        iconUrl: 'img/lab_marker.png',
        shadowUrl: null,
        iconSize: new L.Point(21, 35),
        iconAnchor: new L.Point(10, 34),
        labelAnchor: new L.Point(25, 2),
        wrapperAnchor: new L.Point(10, 35),
        popupAnchor:  [-0, -35]
    };
    // load markers and put on map
    var labelRight = L.Icon.extend({
        options: labelBaseOptions
    });

	fetch('labs.json')
		.then(response => response.json())
		.then(data => {
			data.forEach( function(lab,index) {
				var lab_popuptext = "<b>"+lab.title+"</b><br/><br/>";
				if (typeof lab.meetings != 'undefined') {
					lab_popuptext += "<b>";
					if (typeof lab.meetings_title != 'undefined') {
						lab_popuptext += lab.meetings_title;
					} else {
						lab_popuptext += "Meetings";
					}
					lab_popuptext += "<br /></b>";
					lab.meetings.forEach( function(meeting,index) {
						lab_popuptext += meeting.text+"<br />";
					});
					lab_popuptext += "<br />";
				}
				if (typeof lab.contacts != 'undefined') {
					lab_popuptext += "<b>";
					if (typeof lab.contacts_title != 'undefined') {
						lab_popuptext += lab.contacts_title;
					} else {
						lab_popuptext += "Contacts";
					}
					lab_popuptext += "<br /></b>";
					lab.contacts.forEach( function(contact,index) {
						lab_popuptext += "<a href=\""+contact.url+"\">"+contact.name+"</a><br />";
					});
					lab_popuptext += "<br />";
				}
				if (typeof lab.website != 'undefined') {
					lab_popuptext += "<b>Website</b><br/>";
					lab_popuptext += "<a href='"+lab.website+"' target='_blank' rel='noreferrer'>"+lab.website+"</a><br /><br />";
				}
				if (typeof lab.facebook != 'undefined') {
					lab_popuptext += "<a href='https://www.facebook.com/"+lab.website+"' class='labs_facebook' target='_blank' rel='noreferrer'>"+lab.facebook+"</a><br />";
				}
				if (typeof lab.facebook_group != 'undefined') {
					lab_popuptext += "<a href='https://www.facebook.com/groups/"+lab.facebook_group+"' class='labs_facebook' target='_blank' rel='noreferrer'>"+lab.facebook_group+"</a> (group)<br />";
				}
				if (typeof lab.facebook_page != 'undefined') {
					lab_popuptext += "<a href='https://www.facebook.com/"+lab.facebook_page+"' class='labs_facebook' target='_blank' rel='noreferrer'>"+lab.facebook_page+"</a> (page)<br />";
				}
				if (typeof lab.twitter != 'undefined') {
					lab_popuptext += "<a href='https://twitter.com/"+lab.twitter+"' class='labs_twitter' target='_blank' rel='noreferrer'>@"+lab.twitter+"</a><br />";
				}
				if (typeof lab.github != 'undefined') {
					lab_popuptext += "<a href='https://github.com/"+lab.github+"' class='labs_github' target='_blank' rel='noreferrer'>"+lab.github+"</a><br />";
				}
				if (typeof lab.gitlab != 'undefined') {
					lab_popuptext += "<a href='https://gitlab.com/"+lab.gitlab+"' class='labs_gitlab' target='_blank' rel='noreferrer'>"+lab.gitlab+"</a><br />";
				}
				if (typeof lab.github != 'undefined') {
					lab_popuptext += "<a href='"+lab.mastodon+"' class='labs_mastodon' target='_blank' rel='noreferrer'>"+lab.mastodon+"</a><br />";
				}
				if (typeof lab.meetup != 'undefined') {
					lab_popuptext += "<a href='https://www.meetup.com/"+lab.meetup+"' class='labs_meetup' target='_blank' rel='noreferrer'>"+lab.meetup+"</a><br />";
				}
				if (typeof lab.telegram != 'undefined') {
					lab_popuptext += "<a href='https://t.me/"+lab.telegram+"' class='labs_telegram' target='_blank' rel='noreferrer'>@"+lab.telegram+"</a><br />";
				}
				if (typeof lab.telegram_group != 'undefined') {
					lab_popuptext += "<a href='https://t.me/"+lab.telegram_group+"' class='labs_telegram' target='_blank' rel='noreferrer'>"+lab.telegram_group+"</a> (group)<br />";
				}
				lab_popuptext += "<br />Your location is missing? Add it <a href='https://github.com/opendata-stuttgart/luftdaten-local-labs' target='_blank' rel='noreferrer'>here</a>."
				var marker = L.marker(
						[lab.lat, lab.lon],
						{ icon:	new labelRight(
							{ labelText:"<a href=\""+lab.key+"/\">"+lab.lab+"</a>"}
							), riseOnHover: true }
						)
					.bindPopup(lab_popuptext)
					.addTo(map)
			});
		});

    // load basemaps
    mapLayer.addTo(map);
    map.addControl( new L.Control.Search({
		url: 'https://nominatim.openstreetmap.org/search?format=json&q={s}',
		jsonpParam: 'json_callback',
		propertyName: 'display_name',
		propertyLoc: ['lat','lon'],
		marker: false,
		autoCollapse: true,
		autoType: false,
		minLength: 2,
		zoom: 11
	}) );
});
</script>
