<script>
    $(document).ready(function() {
    // initialize map, set position and zoom level
    var map = L.map('lab-map').setView([0, 0], 1);
    map.attributionControl.setPrefix("");
    map.scrollWheelZoom.disable();
    // basemap
    var mapLayer = L.tileLayer('https://maps.luftdaten.info/tiles/{z}/{x}/{y}.png', {
        attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
        minZoom: 1,
        maxZoom:13
    });
    // define left-aligned and right-aligned labels and icons
    var labelBaseOptions = {
        iconUrl: 'img/lab_marker.png',
        shadowUrl: null,
        iconSize: new L.Point(21, 35),
        iconAnchor: new L.Point(10, 34),
        labelAnchor: new L.Point(25, 2),
        wrapperAnchor: new L.Point(10, 35),
        popupAnchor:  [-0, -35]
    };
    // load markers and put on map
    {% for lab in site.labs %}
    {% if lab.lat and lab.long %}
    var labelRight = L.Icon.extend({
        options: labelBaseOptions
    });
    
    var marker = L.marker( [{{ lab.lat }}, {{ lab.long }}], { icon:
            new labelRight(
            { labelText:'<a href="/{{ lab.key }}/">{{ lab.lab }}</a>'}), riseOnHover: true })
			.bindPopup('<b>{{ lab.title }}</b><br/><br/>\
			{% if lab.meetings %}<b>\
				{% if lab.meetings_title %}\
					{{ lab.meetings_title }}<br/>\
				{% else %}\
					Meetings:<br/>\
				{% endif %}</b>\
				{% for meeting in lab.meetings %}\
					{{ meeting.text }}<br/>\
				{% endfor %}\
				<br />\
			{% endif %}\
			{% if lab.contacts %}<b>\
				{% if lab.contacts_title %}\
					{{ lab.contacts_title }}<br/>\
				{% else %}\
					Contacts:<br/>\
				{% endif %}</b>\
				{% for contact in lab.contacts %}\
					<a href="{{ contact.url }}">{{ contact.name }}</a><br/>\
				{% endfor %}\
				<br />\
			{% endif %}\
			{% if lab.website%}\
				<b>Website</b><br/>\
				<a href="{{ lab.website }}">{{ lab.website }}</a>\
				<br />\
			{% endif %}\
    ')
    .addTo(map)
    {% endif%}
    {% endfor %}
    // load basemaps
    mapLayer.addTo(map);
});
</script>
